<!doctype html>
<html lang="{{ .Site.LanguageCode | default "es"}}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{ "assets/style.css" | relURL }}" />
  </head>
  <body>
    <main>
      <header>
        {{ partial "menu.html" . }}
      </header>
      {{ if not .IsHome }}
        <h1 class="title">{{ .Title }}</h1>
        <hr class="title-hr" />
      {{ end }}
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
