:root {
    --w: 80%;
    --pad: 18px;
    --color-text: #ffffff;
    --color-muted: #b8b3c7;
    --color-bg: #1e0f33;
    --color-link: #9ecbff;
    --color-hr: #312250;
    --font-main: "Times New Roman", Times, "Liberation Serif", "Georgia", serif;

    font-size: 20px;
    font-family: var(--font-main);
    line-height: 1.5;
}

* {
    box-sizing: border-box;
    font-family: var(--font-main);
}

html {
    background: var(--color-bg);
}

body {
    margin: 0;
    color: var(--color-text);
    max-width: var(--w);
    padding: var(--pad);
    margin: 5px auto;
}

.title {
    text-align: center;
    margin-bottom: 3px;
}

.title-hr {
    border: 0;
    border-top: 2px solid var(--color-hr);
    width: 40%;
    margin: 0.5em auto 1.5em;
}

header {
    text-align: center;
    margin-bottom: 18px;
}

.header-links {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: var(--header-menu-top-gap);
    font-size: 18px;
}

.header-links a {
    color: var(--color-link);
    text-decoration: underline;
    font-style: italic;
}

.language-switcher {
    margin-left: auto;
    white-space: nowrap;
}

.language-switcher {
    opacity: 0.65;
}

.links-group > * {
    margin: 0.2em;
}

.links-group {
    opacity: 0.85;
}

.links-group:hover {
    opacity: 1;
}

.language-switcher:hover {
    opacity: 1;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 30px;
}

h2 { 
    text-decoration: underline;
    margin-bottom: 0.2em; 
}

small {
    color: var(--color-muted);
}

ul {
    padding-left: 18px;
}

li {
    margin: 6px 0;
}

hr {
    border-top: 1px solid var(--color-muted);
    margin: 18px 0;
}

footer {
    margin-top: 26px;
    font-size: 14px;
    color: var(--color-muted);
}

/** SPECIFIC STYLES **/

.section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}


/* CV */

.cv-enum p {
    margin: 6px 0;
}
/* Musica */

.song-list li {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer
}

.song-list summary:hover {
    color: var(--color-muted);
}

.song-list details {
    margin-bottom: 5px;
}

audio {
    padding-top: 10px;
}

/* Responsive adjustments */

@media (orientation: portrait) and (max-width: 500px) {
    .language-switcher {
        display: none;
    }
}

@media (max-width: 770px){
    .main {
        font-size: 14px;
    }
    .section-grid{
        grid-template-columns: 1fr;
    }
    :root {
        --w: 95%;
    }
}
