name: Deploy Hugo to VPS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "latest"
          extended: true

      - name: Build
        run: hugo --minify

      - run: ls -R public

      # 1) Subimos public/ a una carpeta temporal del servidor
      - name: Upload public/ to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          source: "public/*"
          target: "/tmp/pablo_deploy"

      # 2) En el servidor, reemplazamos /var/www/pablo por lo subido
      - name: Activate deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            sudo rm -rf /var/www/pablo/*
            sudo cp -r /tmp/pablo_deploy/public/* /var/www/pablo/
            rm -rf /tmp/pablo_deploy